version: "3"
services:
  app:
    env_file: 
      - .env
    container_name: ym-assignment
    restart: always
    build: .
    ports: 
      - "$PORT:$PORT"
    links:
      - redis
    networks:
      - backend
  redis:
    image: bitnami/redis:latest
    # Used only at local developments
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - backend
    volumes:
      - ./redis-vol:/data

networks:
  backend:
    driver: bridge
