version: "3.7"
services:
  
  app:
    env_file: 
      - .env.local
    container_name: ym-assignment
    restart: always
    build: .
    ports: 
      - "$PORT:$PORT"
    links:
      - redis
    networks:
      - backend

  redis:
    image: bitnami/redis:latest
    # As it will be used only at local development testing
    user: root
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - backend
    volumes:
      - ./redis-vol:/bitnami

networks:
  backend:
    driver: bridge
