apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ template "app.fullname" . }}
  labels:
    app: {{ template "app.fullname" . }}
    chart: {{ template "app.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ template "app.fullname" . }}
  minReplicas: {{ .Values.horizontalPodAutoScalling.minReplicas }}
  maxReplicas:  {{ .Values.horizontalPodAutoScalling.maxReplicas }}
  targetCPUUtilizationPercentage: {{ .Values.horizontalPodAutoScalling.targetCPUUtilizationPercentage }}